$font-size: 1.7rem;
$font-family: -apple-system, BlinkMacSystemFont, sans-serif;

$background: #0091ff;
$primary-text: #fff;
$secondary-text: #f00;
$box-shadow: 0.1rem 0.1rem 0.2rem #666;
$text-shadow: 0.1rem 0.1rem 0.2rem #666;
$border-radius: 0.4rem;
$gray-text: #222;
$green: #6dd400;
