@import '../../assets/scss/variables';

html {
  background: $background;
  color: $primary-text;
  font-size: 62.5%;
}

body {
  font-size: $font-size;
  font-family: $font-family;
  margin: 0;
  text-shadow: $text-shadow;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

h1 {
  margin: 3rem 0 0 0;
  font-size: 2.8rem;
}

.button {
  min-width: 10rem;
  height: 4rem;
  border: 0;
  text-shadow: $text-shadow;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: $font-size * 0.8;
  background: #6dd400;
  color: $primary-text;
  font-weight: bold;
  margin-top: 2rem;
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &.secondary {
    background: #17a2b8;
  }

  &.create {
    background-image: url('../../assets/images/plus.svg');
    background-repeat: no-repeat;
    background-position: 1.2rem center;
    background-size: 1.3rem;
    padding-left: 3.2rem;
  }
}

table {
  width: 100%;
  background: #fff;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin: 2rem 0 0 0;
  color: $gray-text;
  text-shadow: none;
  text-align: left;
  border-collapse: collapse;

  tr {
    height: 4rem;

    &:nth-child(even) {
      background: #eee;
    }

    td,
    th {
      height: 4rem;
      padding: 1rem;

      &:nth-child(even) {
        border-left: solid 0.1rem #ddd;
      }

      .button {
        margin-top: 0;
        height: 3.4rem;
        float: right;
      }
    }
  }
}

.button:disabled {
  background: #aaa;
}

.app__component {
  width: 100%;
  max-width: 144rem;
  display: table;
  margin: 0 auto;

  .page-loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s 1s;
    opacity: 0;

    &.loading {
      opacity: 1;
    }

    .page-loader {
      display: inline-block;
      position: relative;
      width: 6.4rem;
      height: 6.4rem;
      transform: translateX(1rem);

      div {
        position: absolute;
        top: 2.7rem;
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
          left: 0.6rem;
          animation: lds-ellipsis1 0.6s infinite;
        }

        &:nth-child(2) {
          left: 0.6rem;
          animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(3) {
          left: 2.6rem;
          animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(4) {
          left: 4.5rem;
          animation: lds-ellipsis3 0.6s infinite;
        }
      }

      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(1.9rem, 0);
        }
      }
    }
  }
}
